:root{
    /* NOVAS CORES  */
    --glass:#ffffff3d;
    
    /* --bgN: radial-gradient(circle, rgba(3,27,162,1) 0%, rgba(72,114,200,1) 35%, rgba(70,120,185,1) 60%, rgba(232,232,232,1) 100%); */
    --bgN: radial-gradient(circle, rgba(4,36,217,1) 0%, rgba(74,121,217,1) 35%, rgba(82,141,217,1) 60%, rgba(242,242,242,1) 100%);

    /*CORES*/

    --blue1:#94BDF2;
    --blue2:#528DD9;
    --blue3:#4A79D9;
    --blue4:#0424D9;
    --blue5:#0424d963;
    --wht :#F2F2F2;

}

body{
    margin: 0;
    padding: 0;
    background: var(--bg);


}
html{
    margin: 0;
    padding: 0;
    background: var(--bg);
}

*{
    margin: 0;
    padding: 0;
    font-family: Campos-b;

}
a{
    color:inherit;
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: .5rem;
    border-radius: 1rem;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar-track {
    border-radius: 1rem;
    background-color: var(--blue1);
    width: .5rem;
}
body::-webkit-scrollbar-thumb {
    border: 1px solid var(--blue5);
    border-radius: 1rem;
}
body::-webkit-scrollbar-thumb:hover{
    background: var(--c3-3);
    filter: drop-shadow(0 0 10rem var(--blue1));
}

@font-face {
    font-family: Campos-b;
    src: url(../fonts/font-b.otf);
}
